
<% include partials/header %>
<div class="container">
    <div class="row">
        <h1 style="text-align: center">Add New Product</h1>
        <div style="width: 50%; margin: 25px auto;">
            <form action="/products" method="POST">
                <div class="form-group">
                    <input class="form-control"  type="text" name="product[productname]" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <input class="form-control"  type="text" name="product[image]" placeholder="Image">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="product[description]" placeholder="Description">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="product[price]" placeholder="Price $ :">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg  btn-info btn-block">Submit!</button>
                </div>
            </form>
            <a href="/products">Go Back</a>
        </div>
    </div>
</div>
<% include partials/footer %>

